{% load socialaccount %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="wide wow-animation">

<head>
	{% include "include/head.html" %}
	<title>{% block title %}complete password{% endblock %}</title>
</head>

<body>
	<!-- Page-->
	<div class="page text-center">
		<!-- Page Header-->
		
		{% include "include/header.html" %}
		
		<!-- Page Content-->
		<main class="page-content">
			<!-- Breadcrumbs & Page title-->
			<section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
				<div class="shell shell-fluid">
					<div class="range range-condensed">
						<div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
							<p class="h3 text-white">تایید گذرواژه</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Buttons-->
			<section class="bg-white text-center section-50 section-sm-100">
				<div class="shell">
					<div class="range range-xs-center">
						<div class="cell-sm-8 cell-lg-6">
							<div class="responsive-tabs responsive-tabs-modern responsive-tabs-modern-mod-1 responsive-tabs-horizontal">
								<ul class="resp-tabs-list">
									<li><a href="{% url "home:home" %}">صفحه اصلی</a></li>
								</ul>
								<div class="resp-tabs-container">
									<div>
										<!-- RD Mailform-->
										<div class="alert_success">
											<p>گذرواژه شما با موفقیت تغییر کرد.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>
		<!-- Page Footer-->
		{% include "include/footer.html" %}
		<!-- end Footer -->
	</div>
</body>
</html>