{% load socialaccount %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="wide wow-animation">

<head>
	{% include "include/head.html" %}
	<title>{% block title %}change password{% endblock %}</title>
</head>

<body>
	<!-- Page-->
	<div class="page text-center">
		<!-- Page Header-->
		
		{% include "include/header.html" %}
		
		<!-- Page Content-->
		<main class="page-content">
			<!-- Breadcrumbs & Page title-->
			<section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
				<div class="shell shell-fluid">
					<div class="range range-condensed">
						<div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
							<p class="h3 text-white">تغییر گذرواژه</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Buttons-->
			<section class="bg-white text-center section-50 section-sm-100">
				<div class="shell">
					<div class="range range-xs-center">
						<div class="cell-sm-8 cell-lg-6">
							<div class="responsive-tabs responsive-tabs-modern responsive-tabs-modern-mod-1 responsive-tabs-horizontal">
								<div class="resp-tabs-container">
									<div>
										<!-- RD Mailform-->
										{% if form.errors %}
										<div class="alert_danger">
											<span>{{ form.errors.old_password }}</span>
										</div>
										{% endif %}
										{% if form.errors %}
										<div class="alert_danger">
											<span>{{ form.errors.new_password2 }}</span>
										</div>
										{% endif %}
										<form method="post" class="rd-mailform form-register text-center offset-top-20">
											{% csrf_token %}
											<div class="form-group">
												<label for="contact-name" class="form-label form-label-outside">گذرواژه قبلی</label>
												{{ form.old_password }}
											</div>
											<div class="form-group">
												<label for="contact-email" class="form-label form-label-outside">گذرواژه جدید</label>
												{{ form.new_password1 }}
											</div>
											<div class="form-group">
												<label for="contact-email" class="form-label form-label-outside">تایید گذرواژه جدید</label>
												{{ form.new_password2 }}
											</div>
											<div class="offset-top-30 text-start">
												<button type="submit" class="btn btn-primary btn-fullwidth btn-shadow">تغییر گذرواژه</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>
		<!-- Page Footer-->
		{% include "include/footer.html" %}
		<!-- end Footer -->
	</div>
</body>
</html>