{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="wide wow-animation">

<head>
	<!-- Site Title-->
	<title>{% block title %}درباره ما | بندرویچ{% endblock %}</title>
	{% include "include/head.html" %}
</head>

<body>
	<!-- Page-->
	<div class="page text-center">
		<!-- Page Header-->
		{% include "include/header.html" %}
		<!-- Page Content-->
		<main class="page-content">
			<!-- Breadcrumbs & Page title-->
			<section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
				<div class="shell shell-fluid">
					<div class="range range-condensed">
						<div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
							<p class="h3 text-white">درباره ما</p>
							<ul class="breadcrumbs-custom offset-top-10">
								<li><a href="{% url "home:home" %}">خانه</a></li>
								<li class="active">درباره ما</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="text-center text-sm-right section-50 section-sm-top-100 section-sm-bottom-205 section-with-angle bg-black-haze">
				<div class="shell">
					<div class="range range-xs-center range-md-left">
						{% for about in object_list %}
						<div class="cell-sm-10 cell-md-6">
							<h4 class="font-default">چند کلمه درباره ما</h4>
							<p>{{ about.body }}</p>
							<a href="{% url "product:gallery" %}" class="btn btn-shape-circle btn-secondary offset-top-40">مشاهده منو</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			<section class="section-50 section-sm-top-90 section-sm-bottom-100">
				<div class="shell">
					<h4 class="font-default">داستان ما</h4>
					<div class="range range-xs-center">
						<div class="cell-md-10">
							{% for Our in Story %}
							<div class="timeline text-center">
								<div class="timeline-date"><span class="h5">{{ Our.title }}</span></div>
								<div class="range range-sm-reverse range-sm-middle timeline-item timeline-item-reverse">
									<div class="cell-sm-6">
										<img src="{{ Our.image.url }}" alt="image" width="420" height="259" class="img-responsive">
									</div>
									<div class="cell-sm-6">
										<p class="body-text">{{ Our.body }}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			<section class="bg-parallax-05 rd-parallax-light">
				<div class="shell section-50 section-sm-top-80 section-sm-bottom-100">
					<div class="range range-xs-center">
						{% for Our in Partners %}
						<div class="cell-sm-10 cell-md-6">
							<h4 class="font-default">شرکای ما</h4>
							<p>{{ Our.body }}</p>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			{% include "include/google_map.html" %}
		</main>
		<!-- Page Footer-->
		{% include "include/footer.html" %}
	</div>
</body>
</html>